/*dataGrid 样式*/
.data_grid .data_grid_table {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 2px;
}

.data_grid_table tr {
  border-bottom: 1px solid #ddd;
}

.data_grid_table thead {
  background-color: #f3f3f3;
}

.data_grid_table .data_grid_tbody {
  color: #555;
}

.data_grid_tbody tr:last-child {
  border-bottom: 0;
}

.data_grid_tbody tr:hover {
  background-color: #f8f8f8;
}

.data_grid_tbody .tr_checked, .data_grid_tbody .tr_checked:hover {
  background-color: #daefff;
}

.data_grid_table tr td {
  padding: 8px 16px;
  border-right: 1px solid #ddd;
  word-break: break-all;
}

.data_grid_table tr td:last-child {
  border-right: 0;
}

.data_grid_table .td_checkbox {
  width: 20px;
  text-align: center;
}

/*loading 样式*/
.loading {
  text-align: center;
  padding: 50px;
  border: 1px solid #ddd;
  margin-top: -1px;
}

/*pagination分页样式*/
.zd_pagination {
  padding: 10px 0;
}

.zd_pagination .pagn {
  text-align: center;
}

.zd_pagination .pagn_left {
  text-align: left;

}

.zd_pagination .pagn_right {
  text-align: right;

}

.zd_pagination .pagn span {
  display: inline-block;
  zoom: 1;
  *display: inline;
  padding: 5px 10px;
  height: 18px;
  line-height: 18px;
  color: #555;
  border: 1px solid #ddd;
  cursor: pointer;
  margin-left: -1px;
}

.zd_pagination .pagn span:hover {
  background-color: #ecf7ff;
}

.zd_pagination .pagn .page_num, .zd_pagination .pagn .page_num:hover {
  background-color: #daefff;
}
.zd_pagination .pagn .dis, .zd_pagination .pagn .page_num:hover {
  background-color: #daefff;
}




















