a {
  text-decoration: none;
  color: #999;
}

a:hover {
  text-decoration: none;
}

div {
  margin: 0;
  padding: 0
}

input {
  border: 0
}

input:active, input:focus, input:visited, textarea:active, textarea:focus, textarea:visited {
  outline: 0
}

blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {
  margin: 0;
  padding: 0
}

body, button, input, select, textarea {
  font: 12px/1.5 tahoma, arial, 'microsoft yahei', sans-serif
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%
}

address, cite, dfn, em, var {
  font-style: normal
}

code, kbd, pre, samp {
  font-family: courier new, courier, monospace
}

small {
  font-size: 12px
}

ol, ul {
  list-style: none
}

sup {
  vertical-align: text-top
}

sub {
  vertical-align: text-bottom;
  position: absolute
}

legend {
  color: #999
}

fieldset, img {
  border: 0
}

button, input, select, textarea {
  font-size: 100%
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

article, aside, audio, details, figcaption, figure, footer, header, hgroup, mark, menu, nav, section, summary, time, video {
  display: block;
  margin: 0;
  padding: 0
}

.zdFix:after {
  clear: both;
  display: table;
  content: ""
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

.zdHide {
  display: none !important;
}

.zdShow {
  display: block !important;
}




























