@import "base";

.input_blog {
  display: block;
  padding: 15px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: relative;
  background: transparent;
  font-size: @fontSize18;
}

.footer_warp {
  height: 60px;
  border-top: 1px solid @borderColor;
  .footer_menu {
    text-align: center;
    li {
      width: 20%;
      float: left;
      height: 48px;
      font-size: @fontSize14;
      color: @color9;
      padding-top: 6px;
      padding-bottom: 6px;
      line-height: 18px;
      i {
        height: 28px;
        width: 28px;
        border-radius: @borderRadius;
        display: inline-block;
        background-color: #eee;
      }
      .middle_add {
        width: 48px;
        height: 48px;
        border: 1px solid @borderColor;
        border-radius: @borderRadius;
        margin-top: -22px;
      }
      span {
        display: block;
      }
    }
    .menu_li {
      color: @color3;
    }
  }
}





