html, body, blockquote, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4,
h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul, select, div {
  margin: 0;
  padding: 0;
  word-break: break-all;
  font-family: arial, 'Microsoft YaHei', sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a, a:hover {
  text-decoration: none
}

input, fieldset, img {
  border: 0
}

mark {
  background: #ff0
}

address, cite, dfn, em, var {
  font-style: normal
}

code, kbd, pre, samp {
  font-family: courier new, courier, monospace
}

ol, ul {
  list-style: none
}

sup {
  vertical-align: text-top
}

sub {
  vertical-align: text-bottom;
  position: absolute
}

legend {
  color: #000
}

html {
  font-size: 100%
}

body {
  background-color: #f3f3f3;
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

article, aside, audio, details, figcaption, figure, footer, header, mark, menu, nav, section, summary, time, video {
  display: block;
  margin: 0;
  padding: 0
}

input {
  outline: 0
}

.clear_both {
  clear: both
}

.hide {
  display: none !important;
}

.ellipsis {
  word-break: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.nowrap {
  overflow: hidden;
  white-space: nowrap
}

html {
  font-size: 100%
}

body, .bo_body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  font-size: 16px;
}

/*css3弹性盒子模型样式定义*/
.bo {
  display: -webkit-box !important;
  display: box !important;
}

.bo-ac {
  -webkit-box-align: center;
  box-align: center
}

.bo-ae {
  -webkit-box-align: end;
  box-align: end
}

.bo-pc {
  -webkit-box-pack: center;
  box-pack: center
}

.bo-pe {
  -webkit-box-pack: end;
  box-pack: end
}

.bo-ver {
  box-orient: vertical;
  -webkit-box-orient: vertical
}

.bo-f1 {
  position: relative;
  -webkit-box-flex: 1;
  box-flex: 1
}

.bo-f2 {
  position: relative;
  -webkit-box-flex: 2;
  box-flex: 2
}

.bo-f3 {
  position: relative;
  -webkit-box-flex: 3;
  box-flex: 3
}

.bo-f4 {
  position: relative;
  -webkit-box-flex: 4;
  box-flex: 4
}

@media screen and (min-width: 751px) {
  body {
    width: 375px;
    left: 50%;
    margin-left: -160px;
  }
}